html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
  }

  body {
    background-color: lightgreen;
    position: relative;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 30px 10%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
  }

  form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / 2fr 1fr;
  }

  form > :first-child,
  form > :last-child {
    grid-column: 1 / span 2;
  }

  form > :first-child {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form > :first-child div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  form label {
    width: 150px;
  }

  form > :first-child input,
  form > :nth-child(2) input {
    flex: 1;
  }

  form > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }

  form > :nth-child(3) {
    padding: 20px;
    justify-self: end;
  }
  
  li {
    margin : 15px 0;
  }

  input {
    height: 1.4rem;
    box-shadow: inset 0 0 2px 1px lightgray;
    border-radius: 0.4rem;
    padding: 0 0.5rem;
  }

  table {
    width: 80%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
  }

  tr {
    border-bottom: 1px solid black;
    height: 2.5rem;
  }

  table > :last-child {
    border-bottom: none;
  }

  thead tr {
    padding-bottom: 20px;
  }